

.sections {
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    margin:20px;
    margin-left: 40px;
}

#topSection {
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}


.buttons {
    padding: 15px;
    background-color:rgb(22, 104, 218);
    color: white;
    border: 0px;
    border-radius: 7px;
    margin: 20px;
    margin-left: 40px;
}

#go {
    background-color:rgb(22, 120, 218);
    color: white;
    border: 0px;
    border-radius: 2px;
    height: 25px;
}

.header {
    color: white;
    text-align: center;
}

p {
    color: white;
}

#mainPagePic {
    float:left;
    max-width:70%;
    padding-left: 40px;
}

#aboutMe {
    float:inline-start; 
    max-width:45%;
    margin-left: 60px;
    margin-top: 40px;
}

#skills {
    float: right;
    width:36%;
    margin-right: 105px;
    padding-left: 60px;
    padding-bottom: 1px;
    margin-top: 40px;
}
   
h3 {
    text-align:left;

}

.column {
    float: left;
    padding: 10px;    
    text-align: left;
}

#left {
    padding-bottom: 50px;
}

#rightCol {
    padding-left: 30px;
}

#courses {
    float:inline-start;
    width: 30%;
    padding: 40px;
    padding-left: 50px;
    padding-bottom: 64px;
}

#course {
    text-align: left;
    padding-left: 20px;
}

#contact {
    float: inline-start;
    width:90%;
    padding: 10px;
}
